body{
    background-image: url(trial5.jpg);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.header h1{
    color: orange;
    font-family: arial;
    font-weight: bold;

}
.header p{
    font-family: monotype corsiva;
    color: maroon;
}
table{
    margin-left: 540px;
    margin-top: 20px;
    border-color: pink;
}
table th{
    font-weight: bold;
    font-size: 22px;
    font-family: Arial;
 } 
 table td{
    font-family: monotype corsiva;
    font-size: 18px;
 }
 button{
    border: none;
    background-color: transparent;
    color: maroon;
    font-size: 20px;
 }
 .btn:hover{
    background-color: orange;
    cursor:pointer;
    transition: 0.5s ease;
    border-radius: 14px;
 }
 .footer p{
    font-family: monotype corsiva;
    color: orangered;
 }